.city {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &-top {
        min-height: 1px;
    }
    &-list {
       width: 100%;
       flex: 1;
       display: flex;
       position: relative;
    }  
    &-search-area {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }
    &-local, &-hot {
        background-color: #fff;
        p {
            padding: 15px 20px;
            font-size: 16px;
            font-weight: 900;
        }
        ul {    
            padding: 0 30px 5px;
        }
    }
    &-item {    
        display: inline-block;
        border: 1px solid #ccc;
        padding: 5px 10px 3px 10px;
        border-radius: 3px;
        margin-right: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    &-location {
        width: 15px;
        height: 15px;
        display: inline-block;
        background: url(../../static/images/location.svg) center no-repeat;
        background-size: 15px 15px;
    }
    &-local-text, &-hot-text {
        display: inline-block;
        vertical-align: 3px;
        margin-left: 3px;
    }
    &-list-content {
        flex: 1;
        overflow-y: auto; 
    }
    &-label {
        width: 20px;
        height: 100%;
        border-left: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    &-label-wrapper {
        display: flex;
        flex-direction: column;
    }
    &-label-item {
        text-align: center;
        width: 100%;
        flex: 1;
        padding: 2px 0;
    }
    &-indicator {
        position: absolute;
        padding:  20px 25px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    &-search-menu {
        .am-list-item {
            border-bottom: 1px solid #ddd!important;
        }
    }
    &-menu-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
    }
}