.city {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .city-top {
    min-height: 1px; }
  .city-list {
    width: 100%;
    flex: 1;
    display: flex;
    position: relative; }
  .city-search-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; }
  .city-local, .city-hot {
    background-color: #fff; }
    .city-local p, .city-hot p {
      padding: 15px 20px;
      font-size: 16px;
      font-weight: 900; }
    .city-local ul, .city-hot ul {
      padding: 0 30px 5px; }
  .city-item {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px 3px 10px;
    border-radius: 3px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px; }
  .city-location {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../../static/images/location.svg) center no-repeat;
    background-size: 15px 15px; }
  .city-local-text, .city-hot-text {
    display: inline-block;
    vertical-align: 3px;
    margin-left: 3px; }
  .city-list-content {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
  .city-label {
    width: 20px;
    height: 100%;
    border-left: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; }
  .city-label-wrapper {
    display: flex;
    flex-direction: column; }
  .city-label-item {
    text-align: center;
    width: 100%;
    flex: 1;
    padding: 2px 0; }
  .city-indicator {
    position: absolute;
    padding: 20px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  .city-search-menu .am-list-item {
    border-bottom: 1px solid #ddd !important; }
  .city-menu-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2; }
